* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F5F5;
}
body header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
  background-color: lightgray;
  z-index: 1;
}
body header div {
  display: flex;
  align-items: center;
}
body header div img {
  transform: scale(1);
  transition: transform 0.5s ease;
  max-width: 20vw;
}
body header div img:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 990px) {
  body header div img {
    max-width: 18vw;
  }
}
body header div nav {
  margin-left: 80px;
}
body header div nav .a1 {
  color: #3434ff;
}
body header div nav a {
  text-decoration: none;
  font-family: "BPG Banner", sans-serif;
  margin-right: 30px;
  color: white;
}
body header div nav a.a2, body header div nav a.a3, body header div nav a.a4, body header div nav a.a5 {
  transition: color 0.3s ease;
}
body header div nav a.a2:hover, body header div nav a.a3:hover, body header div nav a.a4:hover, body header div nav a.a5:hover {
  color: #3434ff;
}
body header .btn {
  font-family: "BPG Banner", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #3434ff;
  color: white;
  max-width: 90px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}
body header .btn:hover, body header .btn :focus, body header .btn :active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
body header .fa.fa-bars {
  display: none;
}
@media only screen and (max-width: 1024px) {
  body nav {
    display: none;
  }
  body header {
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }
  body header div img {
    max-width: 25vw;
  }
  body header .div1 {
    display: flex;
  }
  body header .div1 #spacer {
    width: 60px;
  }
  body .fa.fa-bars {
    display: inline-block !important;
    font-size: 35px;
    position: relative;
    right: 30px;
  }
}
body main .opening {
  padding-top: 200px;
  padding-left: 60px;
  display: flex;
  justify-content: space-between;
}
body main .opening .div h1 {
  letter-spacing: 0.01em;
  font-size: 74px;
  font-weight: 700;
  line-height: 1.115em;
}
body main .opening .div .h1 {
  color: #3434ff;
}
body main .opening .div p {
  max-width: 482px;
  margin-top: 20px;
  color: #69697b;
  font-family: "ALK Rounded Nusx Med", sans-serif;
}
body main .opening .div .btn {
  position: relative;
  top: 50px;
  font-family: "BPG Banner", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #3434ff;
  color: white;
  max-width: 90px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  padding: 20px;
}
body main .opening .div .btn:hover, body main .opening .div .btn :focus, body main .opening .div .btn :active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
body main .opening .div .btn1 {
  position: relative;
  top: 50px;
  font-family: "BPG Banner", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #3434ff;
  color: white;
  max-width: 90px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  color: #3434ff;
  border: 1px solid #3434ff;
  transition: 0.5s;
  padding-right: 22px !important;
}
body main .opening .div .btn1:hover, body main .opening .div .btn1 :focus, body main .opening .div .btn1 :active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
body main .opening .div .btn1:hover, body main .opening .div .btn1 :focus, body main .opening .div .btn1 :active {
  background-color: #3434ff;
  color: white;
  transition: 0.5s;
}
body main .opening img {
  position: relative;
  right: 20px;
  max-width: 440px;
  max-height: -moz-max-content;
  max-height: max-content;
  border-radius: 30px;
  box-shadow: -5px 26px 20px 0px rgba(0, 0, 0, 0.52);
}
@media only screen and (max-width: 997px) {
  body header div img {
    max-width: 30vw;
  }
}
@media only screen and (max-width: 831px) {
  body header div img {
    max-width: 40vw;
  }
}
@media only screen and (max-width: 660px) {
  body header div img {
    max-width: 40vw;
  }
  body header .div1 a {
    display: none !important;
  }
  body main .opening {
    margin-right: 70px;
  }
  body main .opening .div a {
    font-size: 22px !important;
  }
  body main .opening img {
    margin-top: 160px;
  }
}
@media only screen and (max-width: 560px) {
  body main .div h1 {
    font-size: 46px !important;
  }
}
@media only screen and (max-width: 490px) {
  body header div img {
    max-width: 53vw;
  }
  body main .opening .div a {
    display: inline-table;
    margin: 5px;
  }
  body main .opening img {
    max-width: 390px;
  }
}
@media only screen and (max-width: 436px) {
  body header div img {
    max-width: 60vw;
  }
  body main .opening img {
    display: none !important;
  }
}
@media only screen and (max-width: 436px) {
  body main .opening .div h1 {
    font-size: 37px !important;
  }
  body main .opening .div a {
    display: inline-block;
    width: 100px !important;
  }
}
body article {
  margin-top: 350px;
}
body article #bigdiv {
  display: flex;
}
@media only screen and (max-width: 1097px) {
  body article #bigdiv {
    max-width: 1500px;
  }
}
body article #bigdiv .img2 {
  max-width: 49%;
  max-height: 390px;
  margin-left: 60px;
  box-shadow: 0 60px 80px rgba(0, 0, 0, 0.6), 0 45px 26px rgba(0, 0, 0, 0.14);
  border-radius: 18px;
}
body article #bigdiv .img3 {
  display: none;
}
body article #bigdiv div {
  margin-left: 40px;
  max-width: 456px;
}
body article #bigdiv div h2 {
  font-family: "BPG Mikheil Stefane", sans-serif;
  letter-spacing: 0.01em;
  margin-bottom: 18px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2em;
}
body article #bigdiv div p {
  color: #69697b;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.667em;
}
body article #bigdiv div .btn {
  position: relative;
  top: 50px;
  font-family: "BPG Banner", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #3434ff;
  color: white;
  max-width: 90px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  color: #3434ff;
  border: 1px solid #3434ff;
  transition: 0.5s;
  display: inline-block;
}
body article #bigdiv div .btn:hover, body article #bigdiv div .btn :focus, body article #bigdiv div .btn :active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
body article #bigdiv div .btn:hover, body article #bigdiv div .btn :focus, body article #bigdiv div .btn :active {
  background-color: #3434ff;
  color: white;
  transition: 0.5s;
}
@media only screen and (max-width: 1024px) {
  body main .opening {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  body main .opening div {
    text-align: center;
  }
  body main .opening div a {
    font-size: 25px !important;
  }
  body main .opening img {
    margin-top: 100px !important;
    margin-left: 40px;
  }
  body article #bigdiv {
    display: flex;
    flex-direction: column-reverse;
    bottom: 30px;
    align-items: baseline;
  }
  body article #bigdiv .img2 {
    display: none;
  }
  body article #bigdiv .img3 {
    display: block;
    max-height: 64vh;
    max-width: 90vw;
    border-radius: 18px;
    box-shadow: 0 14px 54px rgba(11, 11, 44, 0.22);
    position: relative;
    right: 14px;
  }
  body article #bigdiv div {
    margin-bottom: 120px;
    max-width: 50%;
  }
}
@media only screen and (max-width: 928px) {
  body article #bigdiv div {
    max-width: 58vw;
  }
}
@media only screen and (max-width: 785px) {
  body article #bigdiv div {
    max-width: 65vw;
  }
}
@media only screen and (max-width: 700px) {
  body article #bigdiv div {
    max-width: 73vw;
  }
}
@media only screen and (max-width: 625px) {
  body article #bigdiv div h2 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 565px) {
  body article #bigdiv .img3 {
    max-width: 87vw;
  }
}
@media only screen and (max-width: 499px) {
  body article #bigdiv div h2 {
    font-size: 28px;
  }
  body article #bigdiv div a {
    min-width: 100%;
    right: 5px;
  }
}
@media only screen and (max-width: 480px) {
  body article #bigdiv div a {
    min-width: 100%;
    margin-right: 2px;
  }
}
@media only screen and (max-width: 460px) {
  body article #bigdiv div a {
    min-width: 100%;
    right: 6px;
  }
}
@media only screen and (max-width: 440px) {
  body article #bigdiv div a {
    min-width: 100%;
    right: 10px;
  }
}
@media only screen and (max-width: 390px) {
  body article #bigdiv div a {
    min-width: 100%;
    right: 17px;
  }
}
@media only screen and (max-width: 372px) {
  body article #bigdiv div a {
    font-family: "BPG Banner", sans-serif !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    background-color: #3434ff !important;
    color: white !important;
    width: 90px !important;
    padding: 15px !important;
    text-align: center !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    border-radius: 8px !important;
    cursor: pointer !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    -webkit-transition-duration: 0.3s !important;
    transition-property: box-shadow, transform !important;
  }
  body article #bigdiv div a:hover, body article #bigdiv div a :focus, body article #bigdiv div a :active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) !important;
    transform: scale(1) !important;
  }
}
@media only screen and (max-width: 436px) {
  body article #bigdiv div h2 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 405px) {
  body article #bigdiv div h2 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 450px) {
  body article #bigdiv .img3 {
    max-width: 85vw;
  }
}
@media only screen and (max-width: 375px) {
  body article #bigdiv div h2 {
    font-size: 22.5px;
  }
  body article #bigdiv div p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 351px) {
  body article #bigdiv div h2 {
    font-size: 21px;
  }
}
@media only screen and (max-width: 335px) {
  body article #bigdiv {
    position: relative;
    right: 8px;
  }
  body article #bigdiv div .img3 {
    max-width: 81vw;
  }
  body article #bigdiv div div a {
    max-width: 90%;
  }
}
@media only screen and (max-width: 335px) {
  body article #bigdiv {
    position: relative;
    right: 8px;
  }
  body article #bigdiv div .img3 {
    max-width: 81vw;
  }
  body article #bigdiv div div a {
    max-width: 90%;
  }
}
@media only screen and (max-width: 335px) {
  body article #bigdiv {
    position: relative;
    right: 10px;
  }
}
body hr {
  margin-top: 170px;
}
body .section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 60px;
}
body .section .txt h2 {
  color: #0b0b2c;
  letter-spacing: 0.01em;
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2em;
}
body .section .txt p {
  color: #69697b;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.667em;
}
body .section .btn1 {
  position: relative;
  top: 50px;
  font-family: "BPG Banner", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #3434ff;
  color: white;
  max-width: 90px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  color: #3434ff;
  border: 1px solid #3434ff;
  transition: 0.5s;
  margin-right: 130px;
  max-width: -moz-max-content !important;
  max-width: max-content !important;
}
body .section .btn1:hover, body .section .btn1 :focus, body .section .btn1 :active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
body .section .btn1:hover, body .section .btn1 :focus, body .section .btn1 :active {
  background-color: #3434ff;
  color: white;
  transition: 0.5s;
}
@media only screen and (max-width: 900px) {
  body .section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: flex-end;
  }
  body .section .btn1 {
    top: 30px;
  }
}
@media only screen and (max-width: 700px) {
  body .section {
    display: flex;
    padding-left: 15px;
  }
  body .section .btn1 {
    padding-left: 15px;
  }
}
@media only screen and (max-width: 416px) {
  body .section .txt {
    min-width: 90vw;
  }
  body .section .btn1 {
    margin: 0 auto;
  }
}
body .card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
body .card-container .card {
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 20px;
  transition: transform 0.5s ease;
}
body .card-container .card #python {
  max-width: 100%;
  height: auto;
}
body .card-container .card #js {
  max-width: 100%;
  height: auto;
}
body .card-container .card #html {
  max-width: 100%;
  height: auto;
}
body .card-container .card #java {
  max-width: 100%;
  height: auto;
}
body .card-container .card #react {
  max-width: 100%;
  height: auto;
}
body .card-container .card #angular {
  max-width: 100%;
  height: auto;
}
body .card-container .card #django {
  max-width: 100%;
  height: auto;
}
body .card-container .card #php {
  max-width: 100%;
  height: auto;
}
body .card-container .card #sql {
  max-width: 100%;
  height: auto;
}
body .card-container .card .card-content {
  font-family: "Roboto", sans-serif;
  padding: 16px;
}
body .card-container .card .card-content h2 {
  font-size: 28px;
  margin-bottom: 8px;
}
body .card-container .card .card-content h2:hover {
  color: #3434ff;
  cursor: pointer;
  transition: 0.3s ease;
}
body .card-container .card .card-content p {
  color: #69697b;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 20px;
}
body .card-container .card .card-content i {
  font-size: 24px;
  color: #3434ff;
}
body .card-container .card .card-content span {
  font-size: 18px;
  margin-left: 10px;
  transition: 0.3s ease;
}
body .card-container .card .card-content span:hover {
  color: #3434ff;
  cursor: pointer;
}
body .card-container .card .card-content .span {
  font-size: 18px;
  transition: 0.3s ease;
  position: relative;
  left: 6px;
  margin: 0 auto;
}
body .card-container .card .card-content .span:hover {
  color: red;
  cursor: pointer;
}
body .card-container .card .card-content a {
  position: relative;
  top: 50px;
  font-family: "BPG Banner", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #3434ff;
  color: white;
  max-width: 90px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  color: #3434ff;
  border: 1px solid #3434ff;
  transition: 0.5s;
  top: 0;
  bottom: 8px;
  left: 90px;
  max-width: 20px;
  display: inline-block;
  max-width: 110px;
}
body .card-container .card .card-content a:hover, body .card-container .card .card-content a :focus, body .card-container .card .card-content a :active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
body .card-container .card .card-content a:hover, body .card-container .card .card-content a :focus, body .card-container .card .card-content a :active {
  background-color: #3434ff;
  color: white;
  transition: 0.5s;
}
body .card-container .card .card-content .a1 {
  left: 62px;
}
body .card-container .card .card-content .a6 {
  left: 56px;
}
body .card-container .card:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 420px) {
  body .card-container .card .card-content a {
    padding: 10px !important;
    max-width: 18vw !important;
  }
}
@media only screen and (max-width: 380px) {
  body .card-container .card .card-content a {
    display: none !important;
  }
}
body .db {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
body .db .btn {
  font-family: "BPG Banner", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #3434ff;
  color: white;
  max-width: 90px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  max-width: 110px;
  padding: 20px 24px;
}
body .db .btn:hover, body .db .btn :focus, body .db .btn :active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
@media only screen and (max-width: 420px) {
  body .db .btn {
    min-width: 80%;
    transform: scale(0.9) !important;
    font-size: 25px;
  }
}
body .hr1 {
  margin-top: 80px;
}
body .heading {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  margin-top: 140px;
}
body .heading h2 {
  color: #0b0b2c;
  letter-spacing: 0.01em;
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2em;
  font-weight: bold;
  color: #3434ff;
}
body .heading p {
  color: #69697b;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.667em;
}
body .container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body .container .wrapper1 {
  text-align: center;
  max-width: 100%;
}
body .container .wrapper1 img {
  max-width: 300px;
}
body .container .wrapper1 h2 {
  color: #0b0b2c;
  letter-spacing: 0.01em;
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2em;
  font-size: 25px;
}
body .container .wrapper1 p {
  color: #69697b;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.667em;
}
body .container .wrapper1 a {
  position: relative;
  top: 50px;
  font-family: "BPG Banner", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #3434ff;
  color: white;
  max-width: 90px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  color: #3434ff;
  border: 1px solid #3434ff;
  transition: 0.5s;
  border-radius: 3px;
  max-width: 140px;
}
body .container .wrapper1 a:hover, body .container .wrapper1 a :focus, body .container .wrapper1 a :active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
body .container .wrapper1 a:hover, body .container .wrapper1 a :focus, body .container .wrapper1 a :active {
  background-color: #3434ff;
  color: white;
  transition: 0.5s;
}
body .container .wrapper2 {
  text-align: center;
  max-width: 100%;
  margin-left: 50px;
}
body .container .wrapper2 img {
  max-width: 300px;
}
body .container .wrapper2 h2 {
  color: #0b0b2c;
  letter-spacing: 0.01em;
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2em;
  font-size: 25px;
}
body .container .wrapper2 p {
  color: #69697b;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.667em;
}
body .container .wrapper2 a {
  position: relative;
  top: 50px;
  font-family: "BPG Banner", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #3434ff;
  color: white;
  max-width: 90px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  color: #3434ff;
  border: 1px solid #3434ff;
  transition: 0.5s;
  border-radius: 3px;
  max-width: 140px;
}
body .container .wrapper2 a:hover, body .container .wrapper2 a :focus, body .container .wrapper2 a :active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
body .container .wrapper2 a:hover, body .container .wrapper2 a :focus, body .container .wrapper2 a :active {
  background-color: #3434ff;
  color: white;
  transition: 0.5s;
}
@media only screen and (max-width: 1115px) {
  body .container .wrapper2 {
    margin-right: 50px;
    margin-top: 150px;
  }
}
body #about {
  display: flex;
  max-width: 100%;
  background-color: #3434ff;
  box-shadow: 0 4px 8px rgba(52, 52, 255, 0.3);
  position: relative;
  top: 170px;
  padding-left: 60px;
  padding-top: 100px;
}
body #about .text {
  max-width: 100%;
}
body #about .text h2 {
  color: #0b0b2c;
  letter-spacing: 0.01em;
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2em;
  color: #ffffff;
  font-family: "ArchyEDT-Bold", sans-serif;
}
body #about .text p {
  color: #69697b;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.667em;
  color: #ffffff;
  font-family: "BPG Mrgvlovani Caps", sans-serif;
  font-weight: bold;
  max-width: 48%;
}
body #about .text #p {
  color: black;
  font-family: "ArchyEDT-Bold", sans-serif;
  font-size: 24px;
  max-width: 100%;
}
body #about .text .p {
  color: #00FFFF;
}
body #about .text .button {
  font-family: "BPG Banner", sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: #ffffff;
  color: #3434ff;
  max-width: 90px;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 0.3s;
  position: relative;
  top: 45px;
}
body #about .text .button:hover, body #about .text .button :focus, body #about .text .button :active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  background-color: #3434ff;
  color: #ffffff;
  border: 1px solid #ffffff;
}
body #about .image1 {
  position: relative;
  bottom: 60px;
  max-width: 45vw;
  right: 30px;
}
body #about .image2 {
  display: none;
}
@media only screen and (max-width: 1115px) {
  body #about .text {
    max-width: 50vw;
  }
  body #about .text p {
    font-size: 16px;
    max-width: 100%;
  }
  body #about .text #p {
    font-size: 18px;
  }
  body #about .image1 {
    max-width: 46vw;
    max-height: 100vh;
  }
}
@media only screen and (max-width: 1024px) {
  body #about {
    display: flex;
    flex-wrap: wrap;
  }
  body #about .text {
    max-width: 690px;
  }
  body #about .image1 {
    display: none;
  }
  body #about .image2 {
    display: block;
    min-width: 70%;
    margin-right: 60px;
    border-radius: 20px;
  }
}
@media only screen and (max-width: 800px) {
  body #about .text {
    max-width: 75%;
  }
  body #about .text .button {
    display: inline-block;
    min-width: 100%;
    transition-duration: 0.67s;
  }
}
@media only screen and (max-width: 560px) {
  body #about .button {
    min-width: 70% !important;
  }
}
@media only screen and (max-width: 480px) {
  body #about .text h2 {
    font-size: 30px;
    max-width: 100%;
  }
}
body footer {
  background-color: #222222;
  margin-top: 100px;
}
body footer #thebiggestdiv {
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
}
body footer #thebiggestdiv img {
  max-width: 25vw;
  transition-duration: 0.4s;
}
body footer #thebiggestdiv img:hover, body footer #thebiggestdiv img :focus :active {
  cursor: pointer;
  transform: scale(1.1);
}
body footer #thebiggestdiv #first {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
body footer #thebiggestdiv #first h3 {
  color: #3434ff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 25px;
  line-height: 1.111em;
}
body footer #thebiggestdiv #first a {
  font-size: 20px;
  text-decoration: none;
  color: #69697b;
  margin-bottom: 15px;
  transition-duration: 0.3s;
}
body footer #thebiggestdiv #first a:hover {
  color: #3434ff;
}
body footer #thebiggestdiv #second {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
body footer #thebiggestdiv #second h3 {
  color: #3434ff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 25px;
  line-height: 1.111em;
}
body footer #thebiggestdiv #second a {
  font-size: 20px;
  text-decoration: none;
  color: #69697b;
  margin-bottom: 15px;
  transition-duration: 0.3s;
}
body footer #thebiggestdiv #second a:hover {
  color: #3434ff;
}
body footer #thebiggestdiv #second #a7 {
  color: #3434ff;
  text-decoration: underline;
  text-decoration-color: #3434ff;
}
body footer #thebiggestdiv #second #a7:hover {
  color: #0b0b2c;
  text-decoration: underline;
  text-decoration-color: #0b0b2c;
}
@media only screen and (max-width: 990px) {
  body footer #thebiggestdiv {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  body footer #thebiggestdiv img {
    max-width: 35vw;
  }
}
@media only screen and (max-width: 720px) {
  body footer #thebiggestdiv img {
    max-width: 40vw;
  }
}
@media only screen and (max-width: 630px) {
  body footer #thebiggestdiv img {
    max-width: 45vw;
  }
}
@media only screen and (max-width: 530px) {
  body footer #thebiggestdiv img {
    max-width: 50vw;
  }
}
@media only screen and (max-width: 450px) {
  body footer #thebiggestdiv img {
    max-width: 55vw;
  }
}