* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F5F5;
}
body header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
  background-color: lightgray;
  z-index: 1;
}
body header div {
  display: flex;
  align-items: center;
}
body header div img {
  transform: scale(1);
  transition: transform 0.5s ease;
  max-width: 20vw;
}
body header div img:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 990px) {
  body header div img {
    max-width: 18vw;
  }
}
body header div nav {
  margin-left: 80px;
}
body header div nav .a1 {
  color: #3434ff;
}
body header div nav a {
  text-decoration: none;
  font-family: "BPG Banner", sans-serif;
  margin-right: 30px;
  color: white;
}
body header div nav a.a2, body header div nav a.a3, body header div nav a.a4, body header div nav a.a5 {
  transition: color 0.3s ease;
}
body header div nav a.a2:hover, body header div nav a.a3:hover, body header div nav a.a4:hover, body header div nav a.a5:hover {
  color: #3434ff;
}
body header .btn {
  font-family: "BPG Banner", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #3434ff;
  color: white;
  width: 90px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}
body header .btn:hover, body header .btn :focus, body header .btn :active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
body header .fa.fa-bars {
  display: none;
}
@media only screen and (max-width: 1024px) {
  body nav {
    display: none;
  }
  body header {
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }
  body header div img {
    max-width: 25vw;
  }
  body header .div1 {
    display: flex;
  }
  body header .div1 #spacer {
    width: 60px;
  }
  body .fa.fa-bars {
    display: inline-block !important;
    font-size: 35px;
    position: relative;
    right: 30px;
  }
}
body main .opening {
  padding-top: 200px;
  padding-left: 60px;
  display: flex;
  justify-content: space-between;
}
body main .opening .div h1 {
  letter-spacing: 0.01em;
  font-size: 74px;
  font-weight: 700;
  line-height: 1.115em;
}
body main .opening .div .h1 {
  color: #3434ff;
}
body main .opening .div p {
  max-width: 482px;
  margin-top: 20px;
  color: #69697b;
  font-family: "ALK Rounded Nusx Med", sans-serif;
}
body main .opening .div .btn {
  position: relative;
  top: 50px;
  font-family: "BPG Banner", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #3434ff;
  color: white;
  width: 90px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  padding: 20px;
}
body main .opening .div .btn:hover, body main .opening .div .btn :focus, body main .opening .div .btn :active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
body main .opening .div .btn1 {
  position: relative;
  top: 50px;
  font-family: "BPG Banner", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #3434ff;
  color: white;
  width: 90px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  color: #3434ff;
  border: 1px solid #3434ff;
  transition: 0.5s;
}
body main .opening .div .btn1:hover, body main .opening .div .btn1 :focus, body main .opening .div .btn1 :active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
body main .opening .div .btn1:hover, body main .opening .div .btn1 :focus, body main .opening .div .btn1 :active {
  background-color: #3434ff;
  color: white;
  transition: 0.5s;
}
body main .opening img {
  position: relative;
  right: 20px;
  max-width: 440px;
  max-height: -moz-max-content;
  max-height: max-content;
  border-radius: 30px;
  box-shadow: -5px 26px 20px 0px rgba(0, 0, 0, 0.52);
}
@media only screen and (max-width: 997px) {
  body header div img {
    max-width: 30vw;
  }
}
@media only screen and (max-width: 831px) {
  body header div img {
    max-width: 40vw;
  }
}
@media only screen and (max-width: 660px) {
  body header div img {
    max-width: 40vw;
  }
  body header .div1 a {
    display: none !important;
  }
  body main .opening {
    margin-right: 70px;
  }
  body main .opening .div a {
    font-size: 22px !important;
  }
  body main .opening img {
    margin-top: 160px;
  }
}
@media only screen and (max-width: 560px) {
  body main .div h1 {
    font-size: 46px !important;
  }
}
@media only screen and (max-width: 490px) {
  body header div img {
    max-width: 53vw;
  }
  body main .opening .div a {
    display: inline-table;
    margin: 5px;
  }
  body main .opening img {
    max-width: 390px;
  }
}
@media only screen and (max-width: 436px) {
  body header div img {
    max-width: 60vw;
  }
  body main .opening img {
    display: none !important;
  }
}
@media only screen and (max-width: 436px) {
  body main .opening .div h1 {
    font-size: 37px !important;
  }
  body main .opening .div a {
    display: inline-block;
    width: 100px !important;
  }
}
body article {
  margin-top: 350px;
}
body article #bigdiv {
  display: flex;
}
@media only screen and (max-width: 1097px) {
  body article #bigdiv {
    max-width: 1500px;
  }
}
body article #bigdiv .img2 {
  max-width: 49%;
  max-height: 390px;
  margin-left: 60px;
  box-shadow: 0 60px 80px rgba(0, 0, 0, 0.6), 0 45px 26px rgba(0, 0, 0, 0.14);
  border-radius: 18px;
}
body article #bigdiv .img3 {
  display: none;
}
body article #bigdiv div {
  margin-left: 40px;
  max-width: 456px;
}
body article #bigdiv div h2 {
  font-family: "BPG Mikheil Stefane", sans-serif;
  letter-spacing: 0.01em;
  margin-bottom: 18px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2em;
}
body article #bigdiv div p {
  color: #69697b;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.667em;
}
body article #bigdiv div .btn {
  position: relative;
  top: 50px;
  font-family: "BPG Banner", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #3434ff;
  color: white;
  width: 90px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  color: #3434ff;
  border: 1px solid #3434ff;
  transition: 0.5s;
  display: inline-block;
}
body article #bigdiv div .btn:hover, body article #bigdiv div .btn :focus, body article #bigdiv div .btn :active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
body article #bigdiv div .btn:hover, body article #bigdiv div .btn :focus, body article #bigdiv div .btn :active {
  background-color: #3434ff;
  color: white;
  transition: 0.5s;
}
@media only screen and (max-width: 1024px) {
  body main .opening {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  body main .opening div {
    text-align: center;
  }
  body main .opening div a {
    font-size: 25px !important;
  }
  body main .opening img {
    margin-top: 100px !important;
    margin-left: 40px;
  }
  body article #bigdiv {
    display: flex;
    flex-direction: column-reverse;
    bottom: 30px;
    align-items: baseline;
  }
  body article #bigdiv .img2 {
    display: none;
  }
  body article #bigdiv .img3 {
    display: block;
    max-height: 64vh;
    max-width: 90vw;
    border-radius: 18px;
    box-shadow: 0 14px 54px rgba(11, 11, 44, 0.22);
    position: relative;
    right: 14px;
  }
  body article #bigdiv div {
    margin-bottom: 120px;
    max-width: 50%;
  }
}
@media only screen and (max-width: 928px) {
  body article #bigdiv div {
    max-width: 58vw;
  }
}
@media only screen and (max-width: 785px) {
  body article #bigdiv div {
    max-width: 65vw;
  }
}
@media only screen and (max-width: 700px) {
  body article #bigdiv div {
    max-width: 73vw;
  }
}
@media only screen and (max-width: 625px) {
  body article #bigdiv div h2 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 565px) {
  body article #bigdiv .img3 {
    max-width: 87vw;
  }
}
@media only screen and (max-width: 499px) {
  body article #bigdiv div h2 {
    font-size: 28px;
  }
  body article #bigdiv div a {
    min-width: 100%;
    right: 5px;
  }
}
@media only screen and (max-width: 480px) {
  body article #bigdiv div a {
    min-width: 100%;
    margin-right: 2px;
  }
}
@media only screen and (max-width: 460px) {
  body article #bigdiv div a {
    min-width: 100%;
    right: 6px;
  }
}
@media only screen and (max-width: 440px) {
  body article #bigdiv div a {
    min-width: 100%;
    right: 10px;
  }
}
@media only screen and (max-width: 390px) {
  body article #bigdiv div a {
    min-width: 100%;
    right: 17px;
  }
}
@media only screen and (max-width: 372px) {
  body article #bigdiv div a {
    font-family: "BPG Banner", sans-serif !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    background-color: #3434ff !important;
    color: white !important;
    width: 90px !important;
    padding: 15px !important;
    text-align: center !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    border-radius: 8px !important;
    cursor: pointer !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    -webkit-transition-duration: 0.3s !important;
    transition-property: box-shadow, transform !important;
  }
  body article #bigdiv div a:hover, body article #bigdiv div a :focus, body article #bigdiv div a :active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) !important;
    transform: scale(1) !important;
  }
}
@media only screen and (max-width: 436px) {
  body article #bigdiv div h2 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 405px) {
  body article #bigdiv div h2 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 450px) {
  body article #bigdiv .img3 {
    max-width: 85vw;
  }
}
@media only screen and (max-width: 375px) {
  body article #bigdiv div h2 {
    font-size: 22.5px;
  }
  body article #bigdiv div p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 351px) {
  body article #bigdiv div h2 {
    font-size: 21px;
  }
}
@media only screen and (max-width: 335px) {
  body article #bigdiv {
    position: relative;
    right: 8px;
  }
  body article #bigdiv div .img3 {
    max-width: 81vw;
  }
  body article #bigdiv div div a {
    max-width: 90%;
  }
}
@media only screen and (max-width: 335px) {
  body article #bigdiv {
    position: relative;
    right: 8px;
  }
  body article #bigdiv div .img3 {
    max-width: 81vw;
  }
  body article #bigdiv div div a {
    max-width: 90%;
  }
}
@media only screen and (max-width: 335px) {
  body article #bigdiv {
    position: relative;
    right: 10px;
  }
}