@import "resetstyle";
@import "variables";
@import "mixin";
body {
    background-color: $body-background-color;
    header {
        position: fixed;
        display: $flex;
        align-items: $cent;
        justify-content: space-around;
        width: 100%;
        height: 10vh;
        background-color: $header-background-color;
        z-index: 1;
        div {
            display: $flex;
            align-items: $cent;
            img {
                transform: scale(1);
                transition: transform 0.5s ease;
                max-width: 20vw;

                &:hover {
                    transform: scale(1.1);
                }
                @media only screen and (max-width: 990px) {
                    max-width: 18vw;
                }
            }
            nav {
                margin-left: 80px;
                .a1 {
                    color: $primary-color;
                }
                a {
                    text-decoration: $none;
                    font-family: $font-fam;
                    margin-right: 25px;
                    color: $a-color;

                    &.a2,
                    &.a3,
                    &.a4,
                    &.a5 {
                        transition: color 0.3s ease;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
        .btn {
            @include button ();
        }
        .fa.fa-bars {
            display: $none;
        }
    }
    @media only screen and (max-width: 1024px) {
        nav {
            display: $none;
        }
        header {
            display: $flex;
            justify-content: space-between;
            z-index: 1;
            div {
                img {
                    max-width: 25vw;
                }
            }
            .div1 {
                display: $flex;
                #spacer {
                    width: 60px;
                }
            }
        }
        .fa.fa-bars {
            display: $inblock !important;
            font-size: 35px;
            position: $rel;
            right: 30px;
        }
    }
    @media only screen and (max-width: 1115px) {
        header {
            div {
                img {
                    max-width: 25vw;
                }
            }
        }
    }
    @media only screen and (max-width: 1002px) {
        header {
            div {
                img {
                    max-width: 30vw;
                }
            }
        }
    }
    @media only screen and (max-width: 840px) {
        header {
            div {
                img {
                    max-width: 35vw;
                }
            }
        }
    }
    @media only screen and (max-width: 715px) {
        header {
            div {
                img {
                    max-width: 40vw;
                }
            }
        }
    }
    @media only screen and (max-width: 625px) {
        header {
            div {
                img {
                    max-width: 50vw;
                }
            }
        }
    }
    @media only screen and (max-width: 500px) {
        header {
            div {
                img {
                    max-width: 56vw;
                }
            }
        }
    }
    @media only screen and (max-width: 450px) {
        header {
            div {
                img {
                    max-width: 65vw;
                }
            }
        }
    }
    @media only screen and (max-width: 385px) {
        header {
            div {
                img {
                    max-width: 67vw;
                }
            }
        }
    }
    .div {
        position: $rel;
        top: 150px;
        text-align: $cent;
        align-items: $cent;
        display: $flex;
        flex-direction: $direction;
        .h1 {
            color: $primary-color;
            letter-spacing: .01em;
            font-size: 65px;
            font-weight: 700;
            line-height: 1.115em;
            margin-bottom: 10px;
        }
        p {
            color: #69697b;
            font-family: "BPG No9", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.667em;
        }
        a {
            @include button2 ();
            font-size: 20px;
            white-space: nowrap;
            max-width: 100%;
        }
        hr {
            margin-bottom: 40px;
        }
    }
    @media only screen and (max-width: 730px) {
        .div {
            .h1 {
            font-size: 35px;
            }
            p {
                font-size: 16px;
                max-width: 50%;
            }
        }
    }
        @media only screen and (max-width: 482px) {
        .div {
            .h1 {
            font-size: 35px;
            }
            p {
                font-size: 16px;
                max-width: 88%;
            }
        }
    }
            @media only screen and (max-width: 398px) {
        .div {
            .h1 {
            font-size: 30px;
            }
            p {
                font-size: 16px;
                max-width: 88%;
            }
        }
    }
                @media only screen and (max-width: 360px) {
        .div {
            .h1 {
            font-size: 25px;
            }
            p {
                font-size: 16px;
                max-width: 100%;
            }
        }
    }
    article {
        display: flex;
        margin-left: 60px;
        .text {
            h2 {
                font-family: "BPG Nino Mtavruli Bold", sans-serif;
                margin-bottom: 18px;
                letter-spacing: .01em;
                font-size: 40px;
                font-weight: 500;
                line-height: 1.2em;
                color: #0b0b2c;
            }
            h3 {
                font-family: "BPG Nino Mtavruli Bold", sans-serif;
                color: #0b0b2c;
                font-weight: 500;
                font-size: 24px;
            }
            p {
                @include p;
            }
            .p {
                font-weight: bolder;
            }
            #p1 {
                color: black;
                font-family: "Roboto", sans-serif;
            }
        }
        .img1 {
            max-width: 50%;
            border-radius: 30px;
            margin-left: 180px;
        }
        .img2 {
            display: none;
        }
    }
    @media only screen and (max-width: 1115px) {
        article {
            display: $flex;
            flex-direction: $direction;
            .img1 {
                display: none;
            }
            .img2 {
                display: inline-block;
                border-radius: 30px;
                max-width: 100%;
                height: 520px;
                object-fit: fill;
            }
        }
    }
    @media only screen and (max-width: 930px) {
        article {
            .img2 {
                max-width: 95%;
            }
        }
    }
    @media only screen and (max-width: 870px) {
        article {
            .img2 {             
                max-width: 97%;
                height: 430px;
            }
        }
    }
    @media only screen and (max-width: 700px) {
        article {
            .img2 {             
                max-width: 98%;
            }
        }
    }
    @media only screen and (max-width: 660px) {
        article {
            .img2 {
                display: none;
            }
        }
    }
    @media only screen and (max-width: 600px) {
        article {
            .text {
                max-width: 100%;
            }
        }
    }
    @media only screen and (max-width: 551px) {
        article {
            .text {
                max-width: 92%;
                h2 {
                    font-size: 30px;
                }
                h3 {
                    font-size: 20px;
                }
                p {
                    font-size: 20px;
                }
            }
        }
    }
    @media only screen and (max-width: 506px) {
        article {
            position: $rel;
            right: 40px;
            .text {
                max-width: 100%;
                h2 {
                    font-size: 30px;
                }
                h3 {
                    font-size: 20px;
                }
                p {
                    font-size: 18px;
                }
            }
        }
    }
    #header {
        margin-top: 150px;
        display: $flex;
        flex-direction: $direction;
        text-align: $cent;
        h1 {
            color: #0b0b2c;
            letter-spacing: .01em;
            font-size: 65px;
            font-weight: 700;
            line-height: 1.115em;
            margin-bottom: 20px;
            font-family: "ArchyEDT-Bold", sans-serif;
        }
        p {
            @include p;
            font-size: 25px;
            font-family: "ArchyEDT-Bold", sans-serif;
        }
    }
        .container {
        margin-top: 100px;
        display: $flex;
        text-align: $cent;
        #contentt {
            display: $flex;
            max-width: 80vw;
            align-items: baseline;
            .card1 {
                display: $flex;
                flex-direction: $direction;
                flex-wrap: wrap;
                align-content: center;
                img {
                    max-width: 70%;
                    border-radius: 100%;
                    align-self: $cent;
                    transition-duration: 0.4s;
                    &:hover {
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                }
                h2 {
                    margin-top: 25px;
                    font-family: "BPG Banner SuperSquare Caps", sans-serif;
                    transition-duration: 0.3s;
                    &:hover, :focus, :active {
                        cursor: pointer;
                        color: $primary-color;
                    }
                }
                #p {
                    font-family: "ALK Sanet", sans-serif;
                    font-size: 18px;
                    color: $primary-color;
                    margin-top: 7px;
                    margin-bottom: 10px;
                }
                .p2 {
                    font-family: "ALK Sanet", sans-serif;
                    font-size: 18px;
                    color: #69697b;
                    max-width: 24vw;
                }
            }
            .card2 {
                display: $flex;
                flex-direction: $direction;
                margin-left: 60px;
                margin-right: 60px;
                max-width: max-content;
                img {
                    max-width: 50%;
                    border-radius: 100%;
                    align-self: center;
                    transition-duration: 0.4s;
                    &:hover {
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                }
                h2 {
                    margin-top: 25px;
                    font-family: "BPG Banner SuperSquare Caps", sans-serif;
                    transition-duration: 0.3s;
                    &:hover, :focus, :active {
                        cursor: pointer;
                        color: $primary-color;
                    }
                }
                #p {
                    font-family: "ALK Sanet", sans-serif;
                    font-size: 18px;
                    color: $primary-color;
                    margin-top: 7px;
                    margin-bottom: 10px;
                }
                .p2 {
                    font-family: "ALK Sanet", sans-serif;
                    font-size: 18px;
                    color: #69697b;
                    align-self: center;
                    max-width: 24vw;
                }
            }
            .card3 {
                img {
                    max-width: 70%;
                    border-radius: 100%;
                    transition-duration: 0.4s;
                    &:hover {
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                }
                h2 {
                    margin-top: 25px;
                    font-family: "BPG Banner SuperSquare Caps", sans-serif;
                    transition-duration: 0.3s;
                    &:hover, :focus, :active {
                        cursor: pointer;
                        color: $primary-color;
                    }
                }
                #p {
                    font-family: "ALK Sanet", sans-serif;
                    font-size: 18px;
                    color: $primary-color;
                    margin-top: 7px;
                    margin-bottom: 10px;
                }
                .p3 {
                    font-family: "ALK Sanet", sans-serif;
                    font-size: 18px;
                    color: #69697b;
                }
            }
        }
    }
    @media only screen and (max-width: 1115px) {
        .container {
            #contentt {
                .card1 {
                    h2 {
                        max-width: 50vw;
                    }
                    img {
                        max-width: 20vw;
                    }
                }
                .card2 {
                    margin-left: 100px;
                    img {
                        max-width: 20vw;
                    }
                }
                .card3 {
                    img {
                        max-width: 20vw;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 1081px) {
        .container {
            #contentt {
                font-size: 20px;
            }
        }
    }
    @media only screen and (max-width: 1005px) {
        .container {
            #contentt {
                .card2 {
                    margin-right: 90px !important;
                }
                p {
                    max-width: 34vw !important;
                }
                .p3 {
                    max-width: 25vw;
                }
            }
        }
    }
    @media only screen and (max-width: 796px) {
        .container {
            #contentt {
                display: $flex;
                flex-direction: $direction;
                .card1 {
                    margin-bottom: 40px;
                    img {
                        max-width: 30vw;
                    }
                }
                .card2 {
                    margin-bottom: 40px;
                    img {
                        max-width: 30vw;
                    }
                }
                .card3 {
                    margin: 0 auto;
                    p {
                        margin: 0 auto;
                    }
                    img {
                        max-width: 30vw;
                    }
                }
                img {
                    margin: 0 auto;
                }
            }
        }
    }
    @media only screen and (max-width: 720px) {
        .container {
            #contentt  {
                .card1 {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    position: relative;
                    right: 17px;
                    img {
                        max-width: 40vw;
                    }
                }
                .card2 {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    img {
                        max-width: 40vw;
                    }
                }
                .card3 {
                    img {
                        max-width: 40vw;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 540px) {
        .container {
            #contentt {
                .card1 {
                    img {
                        max-width: 45vw;
                    }
                }
                .card2 {
                    h2 {
                        max-width: 42vw;
                    }
                    img {
                        max-width: 45vw;
                    }
                }
                .card3 {
                    margin-left: 104px;
                    h2 {
                        max-width: 42vw;
                    }
                    img {
                        max-width: 45vw;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 440px) {
        .container {
            margin-right: 50px;
        }
    }
    .big {
        margin-top: 140px;
        display: $flex;
        flex-direction: $direction;
        flex-wrap: wrap;
        align-content: $cent;
        text-align: $cent;
        .txt {
            max-width: 50%;
            background-color: #e6e6fa;
            border-radius: 20px;
            padding: 110px;
            h1 {
                color: #0b0b2c;
                font-family: "BPG WEB 002 Caps", sans-serif;
                font-size: 25px;
                max-width: 100%;
                margin-bottom: 15px;
            }
            p {
                font-family: "ALK Life", sans-serif;
                color: #69697b;
                font-size: 19px;
                line-height: 1.667em;
            }
            a {
                @include button2;
                bottom: 20px;
            }
        }
    }
    
    footer {
        background-color: #222222;
        margin-top: 100px;
        #thebiggestdiv {
            display: $flex;
            justify-content: space-around;
            margin-top: 90px;
                img {
                    max-width: 25vw;
                    transition-duration: 0.4s;
                    &:hover, :focus :active {
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                }
            #first {
                display: $flex;
                flex-direction: $direction;
                margin-top: 40px;
                h3 {
                    @include h3;
                }
                a {
                    @include a;
                }
            }
            #second {
                display: $flex;
                flex-direction: $direction;
                margin-top: 40px;
                h3 {
                    @include h3;
                }
                a {
                    @include a;
                }
                #a7 {
                    color: $primary-color;
                    text-decoration: underline;
                    text-decoration-color: $primary-color;

                    &:hover {
                        color: #0b0b2c;
                        text-decoration: underline;
                        text-decoration-color: #0b0b2c;
                    }
                }
            }
            .map {
                display: $flex;
                justify-content: flex-end;
                iframe {
                    border-radius: 2em;
                    border: none;
                    margin-bottom: 40px;
                    margin-right: 50px;
                    width: 500px;
                    height: 500px;
                    transition: 0.3s ease-in-out;
                    opacity: 0.7;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

    }
    @media only screen and (max-width: 990px) {
        footer {
            #thebiggestdiv {
                display: $flex;
                flex-direction: column-reverse;
                align-content: $cent;
                flex-wrap: wrap;
                text-align: $cent;
                img {
                    max-width: 35vw;
                    
                }
            }
        }
    }
    @media only screen and (max-width: 720px) {
        footer {
            #thebiggestdiv {
                img {
                    max-width: 40vw;
                }
            }
        }
    }
    @media only screen and (max-width: 630px) {
        footer {
            #thebiggestdiv {
                img {
                    max-width: 45vw;
                }
            }
        }
    }
    @media only screen and (max-width: 530px) {
        footer {
            #thebiggestdiv {
                img {
                    max-width: 50vw;
                }
            }
        }
    }
    @media only screen and (max-width: 450px) {
        footer {
            #thebiggestdiv {
                img {
                    max-width: 55vw;
                }
            }
        }
    }
    @media only screen and (max-width: 729px) {
        .big {
            .txt {
                padding-top: 30px;
                h1 {
                    font-size: 21px;
                    margin-bottom: 20px;
                }
                p {
                    font-size: 18px;
                }
            }
        }
    }
    @media only screen and (max-width: 454px) {
        .big {
            .txt {
                a {
                    display: inline-table;
                }
                h1 {
                    font-size: 18px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
    }
}