@import "resetstyle";
@import "variables";
@import "mixin";
body {
    background-color: $body-background-color;
    header {
        position: fixed;
        display: $flex;
        align-items: $cent;
        justify-content: space-around;
        width: 100%;
        height: 10vh;
        background-color: $header-background-color;
        z-index: 1;
        div {
            display: $flex;
            align-items: $cent;
            img {
                transform: scale(1);
                transition: transform 0.5s ease;
                max-width: 20vw;

                &:hover {
                    transform: scale(1.1);
                }
                @media only screen and (max-width: 990px) {
                    max-width: 18vw;
                }
            }
            nav {
                margin-left: 80px;
                .a1 {
                    color: $primary-color;
                }
                a {
                    text-decoration: $none;
                    font-family: $font-fam;
                    margin-right: 25px;
                    color: $a-color;

                    &.a2,
                    &.a3,
                    &.a4,
                    &.a5 {
                        transition: color 0.3s ease;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
        .btn {
            @include button ();
        }
        .fa.fa-bars {
            display: $none;
        }
    }
    @media only screen and (max-width: 1024px) {
        nav {
            display: $none;
        }
        header {
            display: $flex;
            justify-content: space-between;
            z-index: 1;
            div {
                img {
                    max-width: 25vw;
                }
            }
            .div1 {
                display: $flex;
                #spacer {
                    width: 60px;
                }
            }
        }
        .fa.fa-bars {
            display: $inblock !important;
            font-size: 35px;
            position: $rel;
            right: 30px;
        }
    }
    @media only screen and (max-width: 1115px) {
        header {
            div {
                img {
                    max-width: 25vw;
                }
            }
        }
    }
    @media only screen and (max-width: 1002px) {
        header {
            div {
                img {
                    max-width: 30vw;
                }
            }
        }
    }
    @media only screen and (max-width: 840px) {
        header {
            div {
                img {
                    max-width: 35vw;
                }
            }
        }
    }
    @media only screen and (max-width: 715px) {
        header {
            div {
                img {
                    max-width: 40vw;
                }
            }
        }
    }
    @media only screen and (max-width: 625px) {
        header {
            div {
                img {
                    max-width: 50vw;
                }
            }
        }
    }
    @media only screen and (max-width: 500px) {
        header {
            div {
                img {
                    max-width: 56vw;
                }
            }
        }
    }
    @media only screen and (max-width: 450px) {
        header {
            div {
                img {
                    max-width: 65vw;
                }
            }
        }
    }
    @media only screen and (max-width: 385px) {
        header {
            div {
                img {
                    max-width: 67vw;
                }
            }
        }
    }
    .div {
        position: $rel;
        top: 150px;
        text-align: $cent;
        align-items: $cent;
        display: $flex;
        flex-direction: $direction;
        .h1 {
            color: $primary-color;
            letter-spacing: .01em;
            font-size: 65px;
            font-weight: 700;
            line-height: 1.115em;
            margin-bottom: 10px;
        }
        p {
            color: #69697b;
            font-family: "BPG No9", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.667em;
        }
        a {
            @include button2 ();
            font-size: 20px;
        }
        hr {
            margin-bottom: 40px;
        }
    }
    @media only screen and (max-width: 730px) {
        .div {
            .h1 {
            font-size: 35px;
            }
            p {
                font-size: 16px;
                max-width: 50%;
            }
        }
    }
        @media only screen and (max-width: 482px) {
        .div {
            .h1 {
            font-size: 35px;
            }
            p {
                font-size: 16px;
                max-width: 88%;
            }
        }
    }
            @media only screen and (max-width: 398px) {
        .div {
            .h1 {
            font-size: 30px;
            }
            p {
                font-size: 16px;
                max-width: 88%;
            }
        }
    }
                @media only screen and (max-width: 360px) {
        .div {
            .h1 {
            font-size: 25px;
            }
            p {
                font-size: 16px;
                max-width: 100%;
            }
        }
    }
    article {
        display: flex;
        margin-left: 60px;
        .text {
            h2 {
                font-family: "BPG Nino Mtavruli Bold", sans-serif;
                margin-bottom: 18px;
                letter-spacing: .01em;
                font-size: 40px;
                font-weight: 500;
                line-height: 1.2em;
                color: #0b0b2c;
            }
            h3 {
                font-family: "BPG Nino Mtavruli Bold", sans-serif;
                color: #0b0b2c;
                font-weight: 500;
                font-size: 24px;
            }
            p {
                @include p;
            }
            .p {
                font-weight: bolder;
            }
            #p1 {
                color: black;
                font-family: "Roboto", sans-serif;
            }
        }
        .img1 {
            max-width: 50%;
            border-radius: 30px;
            margin-left: 180px;
        }
        .img2 {
            display: none;
        }
    }
    @media only screen and (max-width: 1115px) {
        article {
            display: $flex;
            flex-direction: $direction;
            .img1 {
                display: none;
            }
            .img2 {
                display: inline-block;
                border-radius: 30px;
                max-width: 100%;
                height: 520px;
                object-fit: fill;
            }
        }
    }
    @media only screen and (max-width: 930px) {
        article {
            .img2 {
                max-width: 95%;
            }
        }
    }
    @media only screen and (max-width: 870px) {
        article {
            .img2 {             
                max-width: 97%;
                height: 430px;
            }
        }
    }
    @media only screen and (max-width: 700px) {
        article {
            .img2 {             
                max-width: 98%;
            }
        }
    }
    @media only screen and (max-width: 660px) {
        article {
            .img2 {
                display: none;
            }
        }
    }
    @media only screen and (max-width: 600px) {
        article {
            .text {
                max-width: 100%;
            }
        }
    }
    @media only screen and (max-width: 551px) {
        article {
            .text {
                max-width: 92%;
                h2 {
                    font-size: 30px;
                }
                h3 {
                    font-size: 20px;
                }
                p {
                    font-size: 20px;
                }
            }
        }
    }
    @media only screen and (max-width: 506px) {
        article {
            position: $rel;
            right: 40px;
            .text {
                max-width: 100%;
                h2 {
                    font-size: 30px;
                }
                h3 {
                    font-size: 20px;
                }
                p {
                    font-size: 18px;
                }
            }
        }
    }
}