@mixin button () {
    font-family: "BPG Banner", sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: $primary-color;
    color: white;
    max-width: 90px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;

    &:hover, :focus, :active {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
@mixin button2 () {
    position: $rel;
    top: 50px;
    @include button ();
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    color: $primary-color;
    border: 1px solid $primary-color;
    transition: 0.5s;

    &:hover, :focus, :active {
        background-color: $primary-color;
        color: white;
        transition: 0.5s;
    }
}
@mixin button3 () {
    font-family: "BPG Banner", sans-serif !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    background-color: $primary-color !important;
    color: white !important;
    width: 90px !important;
    padding: 15px !important;
    text-align: center !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    border-radius: 8px !important;
    cursor: pointer !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    -webkit-transition-duration: 0.3s !important;
    -webkit-transition-property: box-shadow, transform !important;
    transition-property: box-shadow, transform !important;

    &:hover, :focus, :active {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) !important;
        -webkit-transform: scale(1.1) !important;
        transform: scale(1.0) !important;
    }
}
@mixin img () {
    max-width: $max-width;
    height: $auto;
}
@mixin h2 () {
    color: #0b0b2c;
    letter-spacing: 0.01em;
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2em;
}
@mixin p () {
    color: #69697b;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.667em;
}
@mixin h3 () {
    color: $primary-color;
    letter-spacing: .06em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 28px;
    font-size: 25px;
    line-height: 1.111em;
}
@mixin a () {
    font-size: 20px;
    text-decoration: none;
    color: $p-col;
    margin-bottom: 15px;
    transition-duration: 0.3s;

    &:hover {
        color: $primary-color;
    }
}
