$body-background-color: #F5F5F5;
$header-background-color: lightgray;
$primary-color: #3434ff;
$font-fam: "BPG Banner", sans-serif;
$fam2: "ALK Rounded Nusx Med", sans-serif;
$fam3: "BPG Mikheil Stefane", sans-serif;
$a-color: #FFFF;
$flex: flex;
$rel: relative;
$cent: center;
$none: none;
$p-col: #69697b;
$mediumfontsize: 18px;
$mainweight: 400;
$inblock: inline-block;
$block: block;
$headingpx: 40px;
$l-spacing: .01em;
$line-height: 1.667em;
$wrap: wrap;
$direction: column;
$max-width: 100%;
$auto: auto;