@import "resetstyle";
@import "variables";
@import "mixin";
body {
    background-color: $body-background-color;
    header {
        position: fixed;
        display: $flex;
        align-items: $cent;
        justify-content: space-around;
        width: 100%;
        height: 10vh;
        background-color: $header-background-color;
        z-index: 1;
        div {
            display: $flex;
            align-items: $cent;
            img {
                transform: scale(1);
                transition: transform 0.5s ease;
                max-width: 20vw;

                &:hover {
                    transform: scale(1.1);
                }
                @media only screen and (max-width: 990px) {
                    max-width: 18vw;
                }
            }
            nav {
                margin-left: 80px;
                .a1 {
                    color: $primary-color;
                }
                a {
                    text-decoration: $none;
                    font-family: $font-fam;
                    margin-right: 30px;
                    color: $a-color;

                    &.a2,
                    &.a3,
                    &.a4,
                    &.a5 {
                        transition: color 0.3s ease;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
        .btn {
            @include button ();
        }
        .fa.fa-bars {
            display: $none;
        }
    }
    @media only screen and (max-width: 1024px) {
        nav {
            display: $none;
        }
        header {
            display: $flex;
            justify-content: space-between;
            z-index: 1;
            div {
                img {
                    max-width: 25vw;
                }
            }
            .div1 {
                display: $flex;
                #spacer {
                    width: 60px;
                }
            }
        }
        .fa.fa-bars {
            display: $inblock !important;
            font-size: 35px;
            position: $rel;
            right: 30px;
        }
    }
    main {
        .opening {
            padding-top: 200px;
            padding-left: 60px;
            display: $flex;
            justify-content: space-between;        
            .div {
                h1 {
                    letter-spacing: $l-spacing;
                    font-size: 74px;
                    font-weight: 700;
                    line-height: 1.115em;
                }
                .h1 {
                    color: $primary-color;
                }
                p {
                    max-width: 482px;
                    margin-top: 20px;
                    color: $p-col;
                    font-family: $fam2;
                }
                .btn {
                    position: $rel;
                    top: 50px;
                    @include button ();
                    padding: 20px;
                }
                .btn1 {
                    @include button2 ();
                    padding-right: 22px !important;
                }
            }
            img {
                position: $rel;
                right: 20px;
                max-width: 440px;
                max-height: max-content;
                border-radius: 30px;
                -webkit-box-shadow: -5px 26px 20px 0px rgba(0,0,0,0.52);
                -moz-box-shadow: -5px 26px 20px 0px rgba(0,0,0,0.52);
                box-shadow: -5px 26px 20px 0px rgba(0,0,0,0.52);
            } 
        }
    }
    @media only screen and (max-width: 997px) {
        header {
            div {
                img {
                    max-width: 30vw;
                }
            }
        }
    }
    @media only screen and (max-width: 831px) {
        header {
            div {
                img {
                    max-width: 40vw;
                }
            }
        }
    }
    @media only screen and (max-width: 660px) {
        header {
            div {
                img {
                    max-width: 40vw;
                }
            }
            .div1 {
                a {
                    display: $none !important;
                }
            }
        }
        main {
            .opening {
                margin-right: 70px;
                .div {
                    a {
                        font-size: 22px !important;
                    }
                }
                img {
                    margin-top: 160px;
                }
            }
        }
    }
    @media only screen and (max-width: 560px) {
        main {
            .div {
                h1 {
                    font-size: 46px !important;
                }
            }
        }
    }
    @media only screen and (max-width: 490px) {
        header {
            div {
                img {
                    max-width: 53vw;
                }
            }
        }
        main {
            .opening {
                .div {
                    a {
                        display: inline-table;
                        margin: 5px;
                    }
                }
                img {
                    max-width: 390px;
                } 
            }
        }
    }
    @media only screen and (max-width: 436px) {
        header {
            div {
                img {
                    max-width: 60vw;
                }
            }
        }
        main {
            .opening {
                img {
                    display: $none !important;
                }
            }
        }
    }
    @media only screen and (max-width: 436px)  {
        main {
            .opening {
                .div {
                    h1 {
                        font-size: 37px !important;
                    }
                    a {
                        display: $inblock;
                        width: 100px !important;
                    }
                }
            }
        }
    }
    article {
        margin-top: 350px;
        #bigdiv {
            @media only screen and (max-width: 1097px) {
                max-width: 1500px;
            }
            display: flex;
            .img2 {
                max-width: 49%;
                max-height: 390px;
                margin-left: 60px;
                box-shadow: 0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14);
                border-radius: $mediumfontsize            
            }
            .img3 {
                display: $none;
            }
            div {
                margin-left: $headingpx;
                max-width: 456px;
                h2 {
                    font-family: $fam3;
                    letter-spacing: $l-spacing;
                    margin-bottom: $mediumfontsize;
                    font-size: $headingpx;
                    font-weight: 500;
                    line-height: 1.2em;
                }
                p {
                    color: $p-col;
                    font-size: $mediumfontsize;
                    font-weight: $mainweight;
                    line-height: $line-height;
                }
                .btn {
                    @include button2 ();
                    display: $inblock;
                }
            }
        }
    }
     @media only screen and (max-width: 1024px) {
        main {
            .opening {
                display: $flex;
                flex-direction: column;
                flex-wrap: $wrap;
                align-content: $cent;
                div {
                    text-align: $cent;
                    a {
                        font-size: 25px !important;
                    }
                }
                img {
                    margin-top: 100px !important;
                    margin-left: $headingpx;
                }
            }
        }
        article {
            #bigdiv {
                display: flex;
                flex-direction: column-reverse;
                bottom: 30px;
                align-items: baseline;
                .img2 {
                    display: $none;
                }
                .img3 {
                    display: $block;
                    max-height: 64vh;
                    max-width: 90vw;
                    border-radius: $mediumfontsize;
                    box-shadow: 0 14px 54px rgba(11, 11, 44, .22);
                    position: $rel;
                    right: 14px;
                }
                div {
                    margin-bottom: 120px;
                    max-width: 50%;
                }
            }
        }
    }
    @media only screen and (max-width: 928px) {
        article {
            #bigdiv {
                div {
                    max-width: 58vw;
                }
            }
        }
    }
    @media only screen and (max-width: 785px) {
        article {
            #bigdiv {
                div {
                    max-width: 65vw;
                }
            }
        }
    }
    @media only screen and (max-width: 700px) {
        article {
            #bigdiv {
                div {
                    max-width: 73vw;
                }
            }
        }
    }
    @media only screen and (max-width: 625px) {
        article {
            #bigdiv {
                div {
                    h2 {
                        font-size: 32px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 565px) {
        article {
            #bigdiv {
                .img3 {
                    max-width: 87vw;
                }
            }
        }
    }
    @media only screen and (max-width: 499px) {
        article {
            #bigdiv {
                div {
                    h2 {
                        font-size: 28px;
                    }
                    a {
                        min-width: 100%;
                        right: 5px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 480px) {
        article {
            #bigdiv {
                div {
                    a {
                        min-width: 100%;
                        margin-right: 2px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 460px) {
        article {
            #bigdiv {
                div {
                    a {
                        min-width: 100%;
                        right: 6px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 440px) {
        article {
            #bigdiv {
                div {
                    a {
                        min-width: 100%;
                        right: 10px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 390px) {
        article {
            #bigdiv {
                div {
                    a {
                        min-width: 100%;
                        right: 17px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 372px) {
        article {
            #bigdiv {
                div {
                    a {
                        @include button3;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 436px) {
        article {
            #bigdiv {
                div {
                    h2 {
                        font-size: 26px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 405px) {
        article {
            #bigdiv {
                div {
                    h2 {
                        font-size: 24px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 450px) {
        article {
            #bigdiv {
                .img3 {
                    max-width: 85vw;
                }
            }
        }
    }
    
    @media only screen and (max-width: 375px) {
        article {
            #bigdiv {
                div {
                    h2 {
                        font-size: 22.5px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 351px) {
        article {
            #bigdiv {
                div {
                    h2 {
                        font-size: 21px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 335px) {
        article {
            #bigdiv {
                position: $rel;
                right: 8px;
                div {
                    .img3 {
                        max-width: 81vw;
                    }
                    div {
                        a {
                            max-width: 90%;
                        }
                    }
                }
            }
        }
    }
        @media only screen and (max-width: 335px) {
        article {
            #bigdiv {
                position: $rel;
                right: 8px;
                div {
                    .img3 {
                        max-width: 81vw;
                    }
                    div {
                        a {
                            max-width: 90%;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 335px)  {
        article {
            #bigdiv {
                position: $rel;
                right: 10px;
            }
        }
    }
    hr {
        margin-top: 170px;
    }
    .section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-content: center;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 60px;
        .txt {
            h2 {
                color: #0b0b2c;
                letter-spacing: $l-spacing;
                margin-top: 0;
                margin-bottom: $mediumfontsize;
                font-size: $headingpx;
                font-weight: 500;
                line-height: 1.2em;
            }
            p {
                color: $p-col;
                font-size: $mediumfontsize;
                font-weight: $mainweight;
                line-height: $line-height;
            }
        }
        .btn1 {
            @include button2 ();
            margin-right: 130px;
            max-width: max-content !important;
        }
    }
    @media only screen and (max-width: 900px) {
        .section {
            display: $flex;
            flex-direction: $direction;
            flex-wrap: $wrap;
            text-align: $cent;
            align-items: flex-end;
            .btn1 {
                top: 30px;
            }
        }
    }
    @media only screen and (max-width: 700px) {
        .section {
            display: $flex;
            padding-left: 15px;
            .btn1 {
                padding-left: 15px;
            }
        }
    }
    @media only screen and (max-width: 416px) {
        .section {
            .txt {
                min-width: 90vw;
            }
            .btn1 {
                margin: 0 auto;
            }
        }
    }
    .card-container {
        display: $flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 100px;
        .card {
            max-width: 400px;
            background-color: #ffffff;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            margin: 20px;
            transition: transform 0.5s ease;
            #python {
                @include img ();
            }
            #js {
                @include img ();
            }
            #html {
                @include img ();
            }
            #java {
                @include img ();
            }
            #react {
                @include img ();
            }
            #angular {
                @include img ();
            }
            #django {
                @include img ();
            }
            #php {
                @include img ();
            }
            #sql {
                @include img ();
            }
            .card-content {
                font-family: "Roboto", sans-serif;
                padding: 16px;
                h2 {
                    font-size: 28px;
                    margin-bottom: 8px;
                    &:hover {
                        color: $primary-color;
                        cursor: pointer;
                        transition: 0.3s ease;
                    }
                }
                p {
                    color: #69697b;
                    font-size: $mediumfontsize;
                    line-height: 1.3;
                    margin-bottom: 20px;
                }
                i {
                    font-size: 24px;
                    color: $primary-color;
                }
                span {
                    font-size: $mediumfontsize;
                    margin-left: 10px;
                    transition: 0.3s ease;
                    &:hover {
                        color: $primary-color;
                        cursor: pointer;
                    }
                }
                .span {
                    font-size: $mediumfontsize;
                    transition: 0.3s ease;
                    position: relative;
                    left: 6px;
                    margin: 0 auto;
                    &:hover {
                        color: red;
                        cursor: pointer;
                    }
                }
                a {
                    @include button2 ();
                    top: 0;
                    bottom: 8px;
                    left: 90px;
                    max-width: 20px;
                    display: inline-block;
                    max-width: 110px;
                }
                .a1 {
                    left: 62px;
                }
                .a6 {
                    left: 56px;
                }
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }
    @media only screen and (max-width: 420px) {
        .card-container {
            .card {
                .card-content {
                    a {
                        padding: 10px !important;
                        max-width: 18vw !important;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 380px) {
        .card-container {
            .card {
                .card-content {
                    a {
                        display: none !important;
                    }
                }
            }
        }
    }
    .db {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        .btn {
            @include button;
            max-width: 110px;
            padding: 20px 24px;
        }
    }
    @media only screen and (max-width: 420px) {
        .db {
            .btn {
                min-width: 80%;
                transform: scale(0.9) !important;
                font-size: 25px;
            }
        }
    }
    .hr1 {
        margin-top: 80px;
    }
    .heading {
        display: $flex;
        flex-direction: $direction;
        flex-wrap: $wrap;
        align-content: $cent;
        text-align: $cent;
        margin-top: 140px;
        h2 {
            @include h2;
            font-weight: bold;
            color: $primary-color
        }
        p {
            @include p;
        }
    }
    .container {
        margin-top: 50px;
        display: $flex;
        justify-content: center;
        flex-wrap: $wrap;
        .wrapper1 {
            text-align: $cent;
            max-width: 100%;
            img {
                max-width: 300px;
            }
            h2 {
                @include h2;
                font-size: 25px;
            }
            p {
                @include p;
            }
            a {
                @include button2;
                border-radius: 3px;
                max-width: 140px;
            }
        }
        .wrapper2 {
            text-align: $cent;
            max-width: 100%;
            margin-left: 50px;
            img {
                max-width: 300px;
            }
            h2 {
                @include h2;
                font-size: 25px;
            }
            p {
                @include p;
            }
            a {
                @include button2;
                border-radius: 3px;
                max-width: 140px;
            }
        }
    }
    @media only screen and (max-width: 1115px) {
        .container {
            .wrapper2 {
                margin-right: 50px;
                margin-top: 150px;
            }
        }
    }
    #about {
        display: $flex;
        max-width: 100%;
        background-color: $primary-color;
        box-shadow: 0 4px 8px rgba(52, 52, 255, 0.3);
        position: $rel;
        top: 170px;
        padding-left: 60px;
        padding-top: 100px;
        .text {
            max-width: 100%;
            h2 {
                @include h2;
                color: #ffffff;
                font-family: "ArchyEDT-Bold", sans-serif;
            }
            p {
                @include p;
                color: #ffffff;
                font-family: "BPG Mrgvlovani Caps", sans-serif;
                font-weight: bold;
                max-width: 48%;
            }
            #p {
                color: black;
                font-family: "ArchyEDT-Bold", sans-serif;
                font-size: 24px;
                max-width: 100%;
            }
            .p {
                color: #00FFFF;
            }
            .button {
                font-family: "BPG Banner", sans-serif;
                font-size: 18px;
                font-weight: 500;
                background-color: #ffffff;
                color: $primary-color;
                max-width: 90px;
                padding: 30px;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                border-radius: 8px;
                cursor: pointer;
                transition-duration: 0.3s;
                &:hover, :focus, :active {
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                    background-color: $primary-color;
                    color: #ffffff;
                    border: 1px solid #ffffff;
                }
                position: $rel;
                top: 45px;
            }
        }
        .image1 {
            position: $rel;
            bottom: 60px;
            max-width: 45vw;
            right: 30px;
        }
        .image2 {
            display: none;
        }
    }
    @media only screen and (max-width: 1115px) {
        #about {
            .text {
                max-width: 50vw;
                p {
                    font-size: 16px;
                    max-width: 100%;
                }
                #p {
                    font-size: 18px;
                }
            }
            .image1 {
                max-width: 46vw;
                max-height: 100vh;
            }
        }
    }
    @media only screen and (max-width: 1024px) {
        #about {
            display: $flex;
            flex-wrap: $wrap;
            .text {
                max-width: 690px;
            }
            .image1 {
                display: none;
            }
            .image2 {
                display: block;
                min-width: 70%;
                margin-right: 60px;
                border-radius: 20px;
            }
        }
    }
    @media only screen and (max-width: 800px) {
        #about {
            .text {
                max-width: 75%;
                .button {
                    display: inline-block;
                    min-width: 100%;
                    transition-duration: 0.67s;
                }
            }
        }
    }
    @media only screen and (max-width: 560px) {
        #about {
            .button {
                min-width: 70% !important;
            }
        }
    }
    @media only screen and (max-width: 480px) {
        #about {
            .text {
                h2 {
                    font-size: 30px;
                    max-width: 100%;
                }
            }
        }
    }
    footer {
        background-color: #222222;
        #thebiggestdiv {
            display: $flex;
            justify-content: space-around;
            margin-top: 90px;
                img {
                    max-width: 25vw;
                    transition-duration: 0.4s;
                    &:hover, :focus :active {
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                }
            #first {
                display: $flex;
                flex-direction: $direction;
                margin-top: 40px;
                h3 {
                    @include h3;
                }
                a {
                    @include a;
                }
            }
            #second {
                display: $flex;
                flex-direction: $direction;
                margin-top: 40px;
                h3 {
                    @include h3;
                }
                a {
                    @include a;
                }
                #a7 {
                    color: $primary-color;
                    text-decoration: underline;
                    text-decoration-color: $primary-color;

                    &:hover {
                        color: #0b0b2c;
                        text-decoration: underline;
                        text-decoration-color: #0b0b2c;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 990px) {
        footer {
            #thebiggestdiv {
                display: $flex;
                flex-direction: column-reverse;
                align-content: $cent;
                flex-wrap: wrap;
                text-align: $cent;
                img {
                    max-width: 35vw;
                    
                }
            }
        }
    }
    @media only screen and (max-width: 720px) {
        footer {
            #thebiggestdiv {
                img {
                    max-width: 40vw;
                }
            }
        }
    }
    @media only screen and (max-width: 630px) {
        footer {
            #thebiggestdiv {
                img {
                    max-width: 45vw;
                }
            }
        }
    }
    @media only screen and (max-width: 530px) {
        footer {
            #thebiggestdiv {
                img {
                    max-width: 50vw;
                }
            }
        }
    }
    @media only screen and (max-width: 450px) {
        footer {
            #thebiggestdiv {
                img {
                    max-width: 55vw;
                }
            }
        }
    }
}
