@import "resetstyle";
@import "variables";
@import "mixin";
body {
    background-color: $body-background-color;
    header {
        position: fixed;
        display: $flex;
        align-items: $cent;
        justify-content: space-around;
        width: 100%;
        height: 10vh;
        background-color: $header-background-color;
        z-index: 1;
        div {
            display: $flex;
            align-items: $cent;
            img {
                transform: scale(1);
                transition: transform 0.5s ease;
                max-width: 20vw;

                &:hover {
                    transform: scale(1.1);
                }
                @media only screen and (max-width: 990px) {
                    max-width: 18vw;
                }
            }
            nav {
                margin-left: 80px;
                .a1 {
                    color: $primary-color;
                }
                a {
                    text-decoration: none;
                    font-family: $font-fam;
                    margin-right: 30px;
                    color: $a-color;

                    &.a2,
                    &.a3,
                    &.a4,
                    &.a5 {
                        transition: color 0.3s ease;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
        .btn {
            @include button ();
        }
        .fa.fa-bars {
            display: $none;
        }
    }
    @media only screen and (max-width: 1024px) {
        nav {
            display: $none;
        }
        header {
            display: $flex;
            justify-content: space-between;
            z-index: 1;
            div {
                img {
                    max-width: 25vw;
                }
            }
            .div1 {
                display: $flex;
                #spacer {
                    width: 60px;
                }
            }
        }
        .fa.fa-bars {
            display: inline-block !important;
            font-size: 35px;
            position: $rel;
            right: 30px;
        }
    }
    main {
        .opening {
            padding-top: 200px;
            padding-left: 60px;
            display: $flex;
            justify-content: space-between;        
            .div {
                h1 {
                    letter-spacing: .01em;
                    font-size: 74px;
                    font-weight: 700;
                    line-height: 1.115em;
                }
                .h1 {
                    color: $primary-color;
                }
                p {
                    max-width: 482px;
                    margin-top: 20px;
                    color: #69697b;
                    font-family: $fam2;
                }
                .btn {
                    position: $rel;
                    top: 50px;
                    @include button ();
                    padding: 20px;
                }
                .btn1 {
                    @include button2 ();
                }
            }
            img {
                position: $rel;
                right: 20px;
                max-width: 440px;
                max-height: max-content;
                border-radius: 30px;
                -webkit-box-shadow: -5px 26px 20px 0px rgba(0,0,0,0.52);
                -moz-box-shadow: -5px 26px 20px 0px rgba(0,0,0,0.52);
                box-shadow: -5px 26px 20px 0px rgba(0,0,0,0.52);
            } 
        }
    }
    @media only screen and (max-width: 997px) {
        header {
            div {
                img {
                    max-width: 30vw;
                }
            }
        }
    }
    @media only screen and (max-width: 831px) {
        header {
            div {
                img {
                    max-width: 40vw;
                }
            }
        }
    }
    @media only screen and (max-width: 660px) {
        header {
            div {
                img {
                    max-width: 40vw;
                }
            }
            .div1 {
                a {
                    display: $none !important;
                }
            }
        }
        main {
            .opening {
                margin-right: 70px;
                .div {
                    a {
                        font-size: 22px !important;
                    }
                }
                img {
                    margin-top: 160px;
                }
            }
        }
    }
    @media only screen and (max-width: 560px) {
        main {
            .div {
                h1 {
                    font-size: 46px !important;
                }
            }
        }
    }
    @media only screen and (max-width: 490px) {
        header {
            div {
                img {
                    max-width: 53vw;
                }
            }
        }
        main {
            .opening {
                .div {
                    a {
                        display: inline-table;
                        margin: 5px;
                    }
                }
                img {
                    max-width: 390px;
                } 
            }
        }
    }
    @media only screen and (max-width: 436px) {
        header {
            div {
                img {
                    max-width: 60vw;
                }
            }
        }
        main {
            .opening {
                img {
                    display: $none !important;
                }
            }
        }
    }
    @media only screen and (max-width: 436px)  {
        main {
            .opening {
                .div {
                    h1 {
                        font-size: 37px !important;
                    }
                    a {
                        display: inline-block;
                        width: 100px !important;
                    }
                }
            }
        }
    }
    article {
        margin-top: 350px;
        #bigdiv {
            @media only screen and (max-width: 1097px) {
                max-width: 1500px;
            }
            display: flex;
            .img2 {
                max-width: 49%;
                max-height: 390px;
                margin-left: 60px;
                box-shadow: 0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14);
                border-radius: 18px;            
            }
            .img3 {
                display: none;
            }
            div {
                margin-left: 40px;
                max-width: 456px;
                h2 {
                    font-family: $fam3;
                    letter-spacing: .01em;
                    margin-bottom: 18px;
                    font-size: 40px;
                    font-weight: 500;
                    line-height: 1.2em;
                }
                p {
                    color: #69697b;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 1.667em;
                }
                .btn {
                    @include button2 ();
                    display: inline-block;
                }
            }
        }
    }
     @media only screen and (max-width: 1024px) {
        main {
            .opening {
                display: $flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: $cent;
                div {
                    text-align: $cent;
                    a {
                        font-size: 25px !important;
                    }
                }
                img {
                    margin-top: 100px !important;
                    margin-left: 40px;
                }
            }
        }
        article {
            #bigdiv {
                display: flex;
                flex-direction: column-reverse;
                bottom: 30px;
                align-items: baseline;
                .img2 {
                    display: none;
                }
                .img3 {
                    display: block;
                    max-height: 64vh;
                    max-width: 90vw;
                    border-radius: 18px;
                    box-shadow: 0 14px 54px rgba(11, 11, 44, .22);
                    position: relative;
                    right: 14px;
                }
                div {
                    margin-bottom: 120px;
                    max-width: 50%;
                }
            }
        }
    }
    @media only screen and (max-width: 928px) {
        article {
            #bigdiv {
                div {
                    max-width: 58vw;
                }
            }
        }
    }
    @media only screen and (max-width: 785px) {
        article {
            #bigdiv {
                div {
                    max-width: 65vw;
                }
            }
        }
    }
    @media only screen and (max-width: 700px) {
        article {
            #bigdiv {
                div {
                    max-width: 73vw;
                }
            }
        }
    }
    @media only screen and (max-width: 625px) {
        article {
            #bigdiv {
                div {
                    h2 {
                        font-size: 32px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 565px) {
        article {
            #bigdiv {
                .img3 {
                    max-width: 87vw;
                }
            }
        }
    }
    @media only screen and (max-width: 499px) {
        article {
            #bigdiv {
                div {
                    h2 {
                        font-size: 28px;
                    }
                    a {
                        min-width: 100%;
                        right: 5px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 480px) {
        article {
            #bigdiv {
                div {
                    a {
                        min-width: 100%;
                        margin-right: 2px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 460px) {
        article {
            #bigdiv {
                div {
                    a {
                        min-width: 100%;
                        right: 6px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 440px) {
        article {
            #bigdiv {
                div {
                    a {
                        min-width: 100%;
                        right: 10px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 390px) {
        article {
            #bigdiv {
                div {
                    a {
                        min-width: 100%;
                        right: 17px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 372px) {
        article {
            #bigdiv {
                div {
                    a {
                        @include button3;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 436px) {
        article {
            #bigdiv {
                div {
                    h2 {
                        font-size: 26px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 405px) {
        article {
            #bigdiv {
                div {
                    h2 {
                        font-size: 24px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 450px) {
        article {
            #bigdiv {
                .img3 {
                    max-width: 85vw;
                }
            }
        }
    }
    
    @media only screen and (max-width: 375px) {
        article {
            #bigdiv {
                div {
                    h2 {
                        font-size: 22.5px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 351px) {
        article {
            #bigdiv {
                div {
                    h2 {
                        font-size: 21px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 335px) {
        article {
            #bigdiv {
                position: $rel;
                right: 8px;
                div {
                    .img3 {
                        max-width: 81vw;
                    }
                    div {
                        a {
                            max-width: 90%;
                        }
                    }
                }
            }
        }
    }
        @media only screen and (max-width: 335px) {
        article {
            #bigdiv {
                position: $rel;
                right: 8px;
                div {
                    .img3 {
                        max-width: 81vw;
                    }
                    div {
                        a {
                            max-width: 90%;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 335px)  {
        article {
            #bigdiv {
                position: $rel;
                right: 10px;
            }
        }
    }

}
