* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F5F5;
}
body header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
  background-color: lightgray;
  z-index: 1;
}
body header div {
  display: flex;
  align-items: center;
}
body header div img {
  transform: scale(1);
  transition: transform 0.5s ease;
  max-width: 20vw;
}
body header div img:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 990px) {
  body header div img {
    max-width: 18vw;
  }
}
body header div nav {
  margin-left: 80px;
}
body header div nav .a1 {
  color: #3434ff;
}
body header div nav a {
  text-decoration: none;
  font-family: "BPG Banner", sans-serif;
  margin-right: 25px;
  color: white;
}
body header div nav a.a2, body header div nav a.a3, body header div nav a.a4, body header div nav a.a5 {
  transition: color 0.3s ease;
}
body header div nav a.a2:hover, body header div nav a.a3:hover, body header div nav a.a4:hover, body header div nav a.a5:hover {
  color: #3434ff;
}
body header .btn {
  font-family: "BPG Banner", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #3434ff;
  color: white;
  max-width: 90px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}
body header .btn:hover, body header .btn :focus, body header .btn :active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
body header .fa.fa-bars {
  display: none;
}
@media only screen and (max-width: 1024px) {
  body nav {
    display: none;
  }
  body header {
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }
  body header div img {
    max-width: 25vw;
  }
  body header .div1 {
    display: flex;
  }
  body header .div1 #spacer {
    width: 60px;
  }
  body .fa.fa-bars {
    display: inline-block !important;
    font-size: 35px;
    position: relative;
    right: 30px;
  }
}
@media only screen and (max-width: 1115px) {
  body header div img {
    max-width: 25vw;
  }
}
@media only screen and (max-width: 1002px) {
  body header div img {
    max-width: 30vw;
  }
}
@media only screen and (max-width: 840px) {
  body header div img {
    max-width: 35vw;
  }
}
@media only screen and (max-width: 715px) {
  body header div img {
    max-width: 40vw;
  }
}
@media only screen and (max-width: 625px) {
  body header div img {
    max-width: 50vw;
  }
}
@media only screen and (max-width: 500px) {
  body header div img {
    max-width: 56vw;
  }
}
@media only screen and (max-width: 450px) {
  body header div img {
    max-width: 65vw;
  }
}
@media only screen and (max-width: 385px) {
  body header div img {
    max-width: 67vw;
  }
}
body .div {
  position: relative;
  top: 150px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
body .div .h1 {
  color: #3434ff;
  letter-spacing: 0.01em;
  font-size: 65px;
  font-weight: 700;
  line-height: 1.115em;
  margin-bottom: 10px;
}
body .div p {
  color: #69697b;
  font-family: "BPG No9", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.667em;
}
body .div a {
  position: relative;
  top: 50px;
  font-family: "BPG Banner", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #3434ff;
  color: white;
  max-width: 90px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  color: #3434ff;
  border: 1px solid #3434ff;
  transition: 0.5s;
  font-size: 20px;
  white-space: nowrap;
  max-width: 100%;
}
body .div a:hover, body .div a :focus, body .div a :active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
body .div a:hover, body .div a :focus, body .div a :active {
  background-color: #3434ff;
  color: white;
  transition: 0.5s;
}
body .div hr {
  margin-bottom: 40px;
}
@media only screen and (max-width: 730px) {
  body .div .h1 {
    font-size: 35px;
  }
  body .div p {
    font-size: 16px;
    max-width: 50%;
  }
}
@media only screen and (max-width: 482px) {
  body .div .h1 {
    font-size: 35px;
  }
  body .div p {
    font-size: 16px;
    max-width: 88%;
  }
}
@media only screen and (max-width: 398px) {
  body .div .h1 {
    font-size: 30px;
  }
  body .div p {
    font-size: 16px;
    max-width: 88%;
  }
}
@media only screen and (max-width: 360px) {
  body .div .h1 {
    font-size: 25px;
  }
  body .div p {
    font-size: 16px;
    max-width: 100%;
  }
}
body article {
  display: flex;
  margin-left: 60px;
}
body article .text h2 {
  font-family: "BPG Nino Mtavruli Bold", sans-serif;
  margin-bottom: 18px;
  letter-spacing: 0.01em;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2em;
  color: #0b0b2c;
}
body article .text h3 {
  font-family: "BPG Nino Mtavruli Bold", sans-serif;
  color: #0b0b2c;
  font-weight: 500;
  font-size: 24px;
}
body article .text p {
  color: #69697b;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.667em;
}
body article .text .p {
  font-weight: bolder;
}
body article .text #p1 {
  color: black;
  font-family: "Roboto", sans-serif;
}
body article .img1 {
  max-width: 50%;
  border-radius: 30px;
  margin-left: 180px;
}
body article .img2 {
  display: none;
}
@media only screen and (max-width: 1115px) {
  body article {
    display: flex;
    flex-direction: column;
  }
  body article .img1 {
    display: none;
  }
  body article .img2 {
    display: inline-block;
    border-radius: 30px;
    max-width: 100%;
    height: 520px;
    -o-object-fit: fill;
       object-fit: fill;
  }
}
@media only screen and (max-width: 930px) {
  body article .img2 {
    max-width: 95%;
  }
}
@media only screen and (max-width: 870px) {
  body article .img2 {
    max-width: 97%;
    height: 430px;
  }
}
@media only screen and (max-width: 700px) {
  body article .img2 {
    max-width: 98%;
  }
}
@media only screen and (max-width: 660px) {
  body article .img2 {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  body article .text {
    max-width: 100%;
  }
}
@media only screen and (max-width: 551px) {
  body article .text {
    max-width: 92%;
  }
  body article .text h2 {
    font-size: 30px;
  }
  body article .text h3 {
    font-size: 20px;
  }
  body article .text p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 506px) {
  body article {
    position: relative;
    right: 40px;
  }
  body article .text {
    max-width: 100%;
  }
  body article .text h2 {
    font-size: 30px;
  }
  body article .text h3 {
    font-size: 20px;
  }
  body article .text p {
    font-size: 18px;
  }
}
body #header {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
body #header h1 {
  color: #0b0b2c;
  letter-spacing: 0.01em;
  font-size: 65px;
  font-weight: 700;
  line-height: 1.115em;
  margin-bottom: 20px;
  font-family: "ArchyEDT-Bold", sans-serif;
}
body #header p {
  color: #69697b;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.667em;
  font-size: 25px;
  font-family: "ArchyEDT-Bold", sans-serif;
}
body .container {
  margin-top: 100px;
  display: flex;
  text-align: center;
}
body .container #contentt {
  display: flex;
  max-width: 80vw;
  align-items: baseline;
}
body .container #contentt .card1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
body .container #contentt .card1 img {
  max-width: 70%;
  border-radius: 100%;
  align-self: center;
  transition-duration: 0.4s;
}
body .container #contentt .card1 img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
body .container #contentt .card1 h2 {
  margin-top: 25px;
  font-family: "BPG Banner SuperSquare Caps", sans-serif;
  transition-duration: 0.3s;
}
body .container #contentt .card1 h2:hover, body .container #contentt .card1 h2 :focus, body .container #contentt .card1 h2 :active {
  cursor: pointer;
  color: #3434ff;
}
body .container #contentt .card1 #p {
  font-family: "ALK Sanet", sans-serif;
  font-size: 18px;
  color: #3434ff;
  margin-top: 7px;
  margin-bottom: 10px;
}
body .container #contentt .card1 .p2 {
  font-family: "ALK Sanet", sans-serif;
  font-size: 18px;
  color: #69697b;
  max-width: 24vw;
}
body .container #contentt .card2 {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 60px;
  max-width: -moz-max-content;
  max-width: max-content;
}
body .container #contentt .card2 img {
  max-width: 50%;
  border-radius: 100%;
  align-self: center;
  transition-duration: 0.4s;
}
body .container #contentt .card2 img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
body .container #contentt .card2 h2 {
  margin-top: 25px;
  font-family: "BPG Banner SuperSquare Caps", sans-serif;
  transition-duration: 0.3s;
}
body .container #contentt .card2 h2:hover, body .container #contentt .card2 h2 :focus, body .container #contentt .card2 h2 :active {
  cursor: pointer;
  color: #3434ff;
}
body .container #contentt .card2 #p {
  font-family: "ALK Sanet", sans-serif;
  font-size: 18px;
  color: #3434ff;
  margin-top: 7px;
  margin-bottom: 10px;
}
body .container #contentt .card2 .p2 {
  font-family: "ALK Sanet", sans-serif;
  font-size: 18px;
  color: #69697b;
  align-self: center;
  max-width: 24vw;
}
body .container #contentt .card3 img {
  max-width: 70%;
  border-radius: 100%;
  transition-duration: 0.4s;
}
body .container #contentt .card3 img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
body .container #contentt .card3 h2 {
  margin-top: 25px;
  font-family: "BPG Banner SuperSquare Caps", sans-serif;
  transition-duration: 0.3s;
}
body .container #contentt .card3 h2:hover, body .container #contentt .card3 h2 :focus, body .container #contentt .card3 h2 :active {
  cursor: pointer;
  color: #3434ff;
}
body .container #contentt .card3 #p {
  font-family: "ALK Sanet", sans-serif;
  font-size: 18px;
  color: #3434ff;
  margin-top: 7px;
  margin-bottom: 10px;
}
body .container #contentt .card3 .p3 {
  font-family: "ALK Sanet", sans-serif;
  font-size: 18px;
  color: #69697b;
}
@media only screen and (max-width: 1115px) {
  body .container #contentt .card1 h2 {
    max-width: 50vw;
  }
  body .container #contentt .card1 img {
    max-width: 20vw;
  }
  body .container #contentt .card2 {
    margin-left: 100px;
  }
  body .container #contentt .card2 img {
    max-width: 20vw;
  }
  body .container #contentt .card3 img {
    max-width: 20vw;
  }
}
@media only screen and (max-width: 1081px) {
  body .container #contentt {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1005px) {
  body .container #contentt .card2 {
    margin-right: 90px !important;
  }
  body .container #contentt p {
    max-width: 34vw !important;
  }
  body .container #contentt .p3 {
    max-width: 25vw;
  }
}
@media only screen and (max-width: 796px) {
  body .container #contentt {
    display: flex;
    flex-direction: column;
  }
  body .container #contentt .card1 {
    margin-bottom: 40px;
  }
  body .container #contentt .card1 img {
    max-width: 30vw;
  }
  body .container #contentt .card2 {
    margin-bottom: 40px;
  }
  body .container #contentt .card2 img {
    max-width: 30vw;
  }
  body .container #contentt .card3 {
    margin: 0 auto;
  }
  body .container #contentt .card3 p {
    margin: 0 auto;
  }
  body .container #contentt .card3 img {
    max-width: 30vw;
  }
  body .container #contentt img {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 720px) {
  body .container #contentt .card1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    right: 17px;
  }
  body .container #contentt .card1 img {
    max-width: 40vw;
  }
  body .container #contentt .card2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  body .container #contentt .card2 img {
    max-width: 40vw;
  }
  body .container #contentt .card3 img {
    max-width: 40vw;
  }
}
@media only screen and (max-width: 540px) {
  body .container #contentt .card1 img {
    max-width: 45vw;
  }
  body .container #contentt .card2 h2 {
    max-width: 42vw;
  }
  body .container #contentt .card2 img {
    max-width: 45vw;
  }
  body .container #contentt .card3 {
    margin-left: 104px;
  }
  body .container #contentt .card3 h2 {
    max-width: 42vw;
  }
  body .container #contentt .card3 img {
    max-width: 45vw;
  }
}
@media only screen and (max-width: 440px) {
  body .container {
    margin-right: 50px;
  }
}
body .big {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}
body .big .txt {
  max-width: 50%;
  background-color: #e6e6fa;
  border-radius: 20px;
  padding: 110px;
}
body .big .txt h1 {
  color: #0b0b2c;
  font-family: "BPG WEB 002 Caps", sans-serif;
  font-size: 25px;
  max-width: 100%;
  margin-bottom: 15px;
}
body .big .txt p {
  font-family: "ALK Life", sans-serif;
  color: #69697b;
  font-size: 19px;
  line-height: 1.667em;
}
body .big .txt a {
  position: relative;
  top: 50px;
  font-family: "BPG Banner", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #3434ff;
  color: white;
  max-width: 90px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  color: #3434ff;
  border: 1px solid #3434ff;
  transition: 0.5s;
  bottom: 20px;
}
body .big .txt a:hover, body .big .txt a :focus, body .big .txt a :active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
body .big .txt a:hover, body .big .txt a :focus, body .big .txt a :active {
  background-color: #3434ff;
  color: white;
  transition: 0.5s;
}
body footer {
  background-color: #222222;
  margin-top: 100px;
}
body footer #thebiggestdiv {
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
}
body footer #thebiggestdiv img {
  max-width: 25vw;
  transition-duration: 0.4s;
}
body footer #thebiggestdiv img:hover, body footer #thebiggestdiv img :focus :active {
  cursor: pointer;
  transform: scale(1.1);
}
body footer #thebiggestdiv #first {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
body footer #thebiggestdiv #first h3 {
  color: #3434ff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 25px;
  line-height: 1.111em;
}
body footer #thebiggestdiv #first a {
  font-size: 20px;
  text-decoration: none;
  color: #69697b;
  margin-bottom: 15px;
  transition-duration: 0.3s;
}
body footer #thebiggestdiv #first a:hover {
  color: #3434ff;
}
body footer #thebiggestdiv #second {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
body footer #thebiggestdiv #second h3 {
  color: #3434ff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 25px;
  line-height: 1.111em;
}
body footer #thebiggestdiv #second a {
  font-size: 20px;
  text-decoration: none;
  color: #69697b;
  margin-bottom: 15px;
  transition-duration: 0.3s;
}
body footer #thebiggestdiv #second a:hover {
  color: #3434ff;
}
body footer #thebiggestdiv #second #a7 {
  color: #3434ff;
  text-decoration: underline;
  text-decoration-color: #3434ff;
}
body footer #thebiggestdiv #second #a7:hover {
  color: #0b0b2c;
  text-decoration: underline;
  text-decoration-color: #0b0b2c;
}
body footer #thebiggestdiv .map {
  display: flex;
  justify-content: flex-end;
}
body footer #thebiggestdiv .map iframe {
  border-radius: 2em;
  border: none;
  margin-bottom: 40px;
  margin-right: 50px;
  width: 500px;
  height: 500px;
  transition: 0.3s ease-in-out;
  opacity: 0.7;
}
body footer #thebiggestdiv .map iframe:hover {
  opacity: 1;
}
@media only screen and (max-width: 990px) {
  body footer #thebiggestdiv {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  body footer #thebiggestdiv img {
    max-width: 35vw;
  }
}
@media only screen and (max-width: 720px) {
  body footer #thebiggestdiv img {
    max-width: 40vw;
  }
}
@media only screen and (max-width: 630px) {
  body footer #thebiggestdiv img {
    max-width: 45vw;
  }
}
@media only screen and (max-width: 530px) {
  body footer #thebiggestdiv img {
    max-width: 50vw;
  }
}
@media only screen and (max-width: 450px) {
  body footer #thebiggestdiv img {
    max-width: 55vw;
  }
}
@media only screen and (max-width: 729px) {
  body .big .txt {
    padding-top: 30px;
  }
  body .big .txt h1 {
    font-size: 21px;
    margin-bottom: 20px;
  }
  body .big .txt p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 454px) {
  body .big .txt a {
    display: inline-table;
  }
  body .big .txt h1 {
    font-size: 18px;
  }
  body .big .txt p {
    font-size: 16px;
  }
}